.barra-0{

  width: 0%;  
  height:10px;
  
}

.barra-1{
  width: 25%;
  background-color: red;
  height:10px;
  
}

.barra-2{
width: 50%;
background-color: yellow;
height:10px;
  
}

.barra-3{
  width: 75%;
  background-color: rgb(87, 230, 122);
  height:10px;
  
} 

.barra-4{
width: 100%;
background-color: green;
height:10px;
  
}